*{
    /*border: 0.05px solid red;*/
}

#notifications{
    width: 50%;
}

#post{
    padding: 5px;
    border: 1px solid #002a66;
    background: #d8beff;
    overflow: hidden;
}


#postTextField{
    background: #a7ffb9;
    width: 100%;

}

#postSubmitButton{
    float: left;
    background: #d8beff;
    width: 100%;
}

.centred{
    text-align: center;
    color: #761c19;
}

.FilteredMultiSelect__select{
    width: 30%;

    text-align: center;
    display: inline-block;
}

.w3-ul{
    float: left;
    display: inline-block;
    width: 40%;

}

.FilteredMultiSelect__button{
    visibility: hidden;
    width: 0;
    height:0;
}