*{
    background: skyblue;
    font-family: Verdana, Times, serif;
}

#topblock
{
    width:100%;
    text-align: center;
}

/*#topblock#title{*/
    /*align: center;*/
    /*width:100%;*/
    /*background: gray;*/
/*}*/

.inner
{
    display: inline-block;
    background: none;
    border: none;
}


#calender{
    width:50%;
    align: left;
    color: gray;

}

#leaderboard{
    width:50%;
    align: left;
    color: gray;

}

#title{
    /*padding-right: 440px;*/
    align:center;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 53px;
    margin: 4px 2px;
    cursor: pointer;
}

#welcome{
    align: center;
    text-align: center;
    color: gray;
}

#logout{
    float:right; !important;
    /*padding-left: 10px;*/

    /*background-color: grey;*/
    /*border: none;*/
    color: white; !important;
    /*!*border-style: solid;*!*/
    /*!*border-width: 2px;*!*/
    /*!*border-color: black;*!*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    display: inline-block; !important;
    /*font-size: 16px;*/
    margin: 4px 2px; !important;
    cursor: pointer; !important;

    border-style: solid; !important;
    border-width: 0.5px; !important;
    border-color: white; !important;
    background-color: lightgrey; !important;
}

#add{
    float: left;!important;
    /*padding-right: 450px;*/

    border: none;!important;
    color: white;!important;

    text-align: center;!important;
    text-decoration: none;!important;
    display: inline-block;!important;
    font-size: 16px;!important;
    margin: 4px 2px;!important;
    cursor: pointer; !important;

    /*border-style: solid;*/
    /*border-width: 0.5px;*/
    /*border-color: white;*/
    /*background-color: lightgrey;*/

}



.class{

}

