*{
    background: silver;
    font-family: Verdana, Times, serif;
}
#loginline{
    text-size: 25;
    text-align: center;
    text-color: white; !important;
    width:100%;
}
#logoutline{
    text-size: 67; !important;
    text-align: center; !important;
    text-color: white; !important;
}
*{
    background: silver;
    font-family: Verdana, Times, serif;
}
#topblock
{
    width:100%;
    text-align: center;
}
/*#topblock#title{*/
/*align: center;*/
/*width:100%;*/
/*background: gray;*/
/*}*/
.inner
{
    display: inline-block;
    background: none;
    border: none;
}
#calender{
    width:50%;
    align: left;
    color: gray;
}
#leaderboard{
    width:50%;
    align: left;
    color: gray;
}
#title{
    /*padding-right: 440px;*/
    align:center;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 53px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: underline;
}
#welcome{
    align: center;
    text-align: center;
    color: gray;
}
#logout{
    float:right; !important;
    padding: 20px 20px;
    /*padding-left: 10px;*/
    /*background-color: grey;*/
    /*border: none;*/
    /*color: white; !important;*/
    /*!*!*border-style: solid;*!*!*/
    /*!*!*border-width: 2px;*!*!*/
    /*!*!*border-color: black;*!*!*/
    /*!*text-align: center;*!*/
    /*!*text-decoration: none;*!*/
    /*display: inline-block; !important;*/
    /*!*font-size: 16px;*!*/
    /*margin: 4px 2px; !important;*/
    /*cursor: pointer; !important;*/
    /*border-style: solid; !important;*/
    /*border-width: 0.5px; !important;*/
    /*border-color: white; !important;*/
    /*background-color: lightgrey; !important;*/
}
#add{
    float: left;!important;
    padding: 20px 20px;
    /*padding-right: 450px;*/
    /*border: none;!important;*/
    /*color: white;!important;*/
    /*text-align: center;!important;*/
    /*text-decoration: none;!important;*/
    /*display: inline-block;!important;*/
    /*font-size: 16px;!important;*/
    /*margin: 4px 2px;!important;*/
    /*cursor: pointer; !important;*/
    /*border-style: solid;*/
    /*border-width: 0.5px;*/
    /*border-color: white;*/
    /*background-color: lightgrey;*/
}
.class{
}

.cld-main{
  width: 700px;
}
.cld-main a{
  color: #7B00FF;
}
  .cld-datetime{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .cld-datetime .today{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }
  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
  .cld-nav:hover{
    cursor: pointer;
  }
  .cld-nav:hover svg{
      fill: #666;
  }
  .cld-rwd{
    float: left;
  }
  .cld-fwd{
    float: right;
  }
    .cld-nav svg:hover{

    }
.cld-labels, .cld-days{
  padding-left: 0;
  background: white;
}
  .cld-label, .cld-day{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day{
    float: left;
    position: relative;
    margin: 0;
    padding: 5px;
    height: 90px;
    border: 1px solid #ddd;
    overflow-y: visible;
    overflow-x: visible;
    background: white
  }
  .cld-day.clickable:hover{
    cursor: pointer;
  }
  .cld-day.today{
    border: 1px solid #7B00FF;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
  }
    .cld-number{
      margin: 0;
      text-align: left;
      background: white;
    }

      .cld-title{
        font-size: 14px;
        display: block;
        margin: 0;
        font-weight: normal;
        background: white;
      }

      .cld-day:hover{
        display: block;
        background: #eee;
        background-color: lightblue;
      }
      .cld-number.eventday{
        background: white;
        font-weight: bold;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: white;
      }
      .today .cld-number.eventday:hover{
      }
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    background: white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 5;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
